/backup surveyCreation.css
/* src/styles/surveyCreation.css */
@import './variables.css';

.survey-creation-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--background-color);
    padding: 2rem 2rem 4rem ;
  }
  
  .survey-form {
    background-color: var(--background-color-highlight);
    padding: var(--spacing-large);
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary-contrast);
    width: 400px;
    text-align: left;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: var(--primary-color-hover);
  }
  
/* Style for checkboxes */
input[type="checkbox"] {
    appearance: none; /* Remove the default checkbox styling */
    width: 20px;
    height: 20px;
    background-color: white; /* Default background color */
    border: 1.5px solid var(--primary-color); /* Border in primary color */
    border-radius: 4px; /* Optional: To give it a rounded edge */
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--primary-color); /* Fill background when checked */
    color: white;
    position: relative;
  }
  
  input[type="checkbox"]:checked::after {
    content: '✓'; /* The checkmark */
    font-size: 14px;
    color: white;
    position: absolute;
    top: -1px;
    left: 4px;
  }
  
  /* General block styling */
.block {
    border: 2px solid var(--primary-color); /* Border to visually separate the block */
    background-color: var(--background-color-contrast-light); /* Contrast background */
    padding: var(--spacing-large); /* Add padding */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: var(--spacing-large); /* Space between blocks */
    box-shadow: var(--box-shadow-primary); /* Apply shadow for raised effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  }
  
  /* Hover effect for future drag and drop */
  .block:hover {
    transform: translateY(-3px); /* Slight lift on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  }
  