/* src/styles/login.css */

/* Import custom CSS variables */
@import './variables.css';

/* Center the login card on the page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: var(--spacing-large);
}


/* Container for the input field and the icon */
.login-password-input-container {
    position: relative;
    width: 100%;
    height: 100px;
}

/* Styling for the input field */
.password-input-container .form-control {
    width: 100%;
    padding-right: 60px; /* Create space for the icon */
}

/* Styling for the password toggle icon */
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Icon color */
}

/* Optional: Change icon color on hover */
.password-toggle-icon:hover {
    color: #333; /* Icon color on hover */
}
