/* src/styles/register.css */
@import './variables.css';

.register-container {
    background-color: var(--background-color-highlight);
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 400px;
}


/* Container for input field and symbol */
.password-input-container {
    position: relative;
    width: 100%;
}

/* Styling for input field*/
.password-input-container .form-control {
    width: 100%;
    padding-right: 40px; /* create space for symbol */
}

/* Styling for password symbol */
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Farbe des Symbols */
}


.password-toggle-icon:hover {
    color: #333; 
}
