/* src/styles/register.css */
@import './variables.css';

.register-container {
    background-color: var(--background-color-highlight);
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Container for input field and symbol */
.password-input-container {
    position: relative;
    width: 100%;
}

/* Styling for input field*/
.password-input-container .form-control {
    width: 100%;
    padding-right: 40px; /* create space for symbol */
}

/* Styling for password symbol */
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; 
}


.password-toggle-icon:hover {
    color: #333; 
}


.password-criteria-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: var(--spacing-small);
}

.password-criteria-list li {
    font-size: 0.9em;
    color: #515050; /* Default color for invalid rules */
    margin-bottom: var(--spacing-small);
    margin-left: 3rem;
}

.password-criteria-list li.valid {
    color: var(--validation-color); /* Color for valid rules */
}

.password-criteria-list li.valid::before {
    content: "✔ ";
}
